body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
    --main-blue: DeepSkyBlue;
    --main-orange: #F54021;
}
#switch-btn-1{
    margin: 10px 0 30px;
}
.switch-btn {
    display: inline-block;
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: var(--main-blue); /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: var(--main-orange);
}
.switch-on::after {
    left: 37px;
}
.bl-hide {
    display: none;
}
#block-1{
    height: 100px;
    padding: 50px;
    background: var(--main-blue);
    font-size: 40px;
    text-align: center;
}
#block-2{
    height: 100px;
    padding: 50px;
    background: var(--main-orange);
    font-size: 40px;
    text-align: center;
}
#clock{
    display: inline-block;
    padding: 5px 15px;
    font-size:22px;
    border-radius:17px;
}
.solid{
    border: 4px solid var(--main-blue);
}
.blink{
    /*border: 4px dotted var(--main-blue);*/
    animation: borderStyle 3s linear infinite;
}
#date{
    font-size:22px;
}
.hidden{
    /*display: none;*/
    visibility: hidden;
}

@keyframes borderStyle {
    33% {
        border: 4px dotted var(--main-blue);
    }
    66%{
        border: 4px dashed var(--main-blue);
    }
}

table
{
    border-collapse: collapse;
    border: 1px solid var(--main-blue);
}

td{
    padding: 5px;
    border: 1px solid var(--main-blue);
}