*{
    margin: 0;
    padding: 0;
}

button{
    padding:10px;
    margin-left:calc(1% + 2px);
    margin-top:calc(10px);
}

table{
    margin-left:1%;
}

h3{
    margin-left:1%;
    padding:10px;
}

p{
    margin-left:calc(1% + 2px);
}