*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

input{
    margin-right: 10px;
    padding: 5px;
    border-radius:5px;
}

button{
    padding:7px;
    margin: 10px 5px 5px calc(1% + 2px);
    font-size:1rem;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}

button:hover{
    box-shadow: 0 0 4px 2px dodgerblue;
}

button:active{
    box-shadow: inset 0 0 4px 2px dodgerblue;
}

table{
    margin-left:1%;
}

h3{
    margin-left:1%;
    padding-top:10px;
    padding-bottom:10px;
}

p{
    margin-left:calc(1% + 2px);
}

img{
    height:50px;
    width:50px;
    border: 2px solid dodgerblue;
    border-radius:50px;
    margin-left:calc(1% + 2px);
    margin-top:calc(10px);
}

img:hover{
    box-shadow: 0 0 4px 2px dodgerblue;
}

#description{
    margin-top:10px;
    width: 30%
}

#hintOfEnter{
    font-size:0.9rem;
}

@media screen and (max-width:480px) {
    #description{
        width: 80%
    }
}